<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/jquery.bxslider/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="lib/owl.carousel/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="lib/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="lib/fancyBox/source/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/green.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="css/style_frm_dkdn.css"/>
    <link rel="stylesheet" href="css/switcher.css">
    <link rel="stylesheet" type="text/css" href="css/aboutus.css"/>
    <title>UberChef - About Us</title>
</head>
<body class="green">
<!-- HEADER -->
<div id="header" class="header">

    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 logo">
                <a href="home.html"><img src="./images/logochef.png" class="LogoChef"/></a>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-5 col-lg-4 header-search-box">
                <form class="form-inline">
                    <div class="form-group input-serach">
                        <input type="text" placeholder="Search ...">
                    </div>
                    <button type="submit" class="pull-right btn-search"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 group-button-header">
                <a title="Compare" href="#" class="btn-compare">Compare</a>
                <a title="My wishlist" href="#" class="btn-heart">Heart</a>

                <div class="btn-cart" id="cart-block">
                    <a title="SignIn" href="" data-toggle="modal" data-target="#myModal">Log In</a>


                </div>
            </div>
        </div>
    </div>
    <!-- END MANIN HEADER -->
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">

                <div id="main-menu" class="col-sm-12 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="home.html"><span class="fa fa-home"></span> Home</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown">Product</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <li class="link_container"><a href="product-drinks.html">Drinks</a></li>
                                                    <li class="link_container"><a href="product-breads.html">Breads</a></li>
                                                    <li class="link_container"><a href="product-fruits.html">Fruits</a></li>
                                                    <li class="link_container"><a href="product-meat.html">Meat</a></li>
                                                    <li class="link_container"><a href="product-chicken.html">Chicken</a></li>
                                                    <li class="link_container"><a href="product-seafood.html">SeaFood</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--<li><a href="#">Promotion</a></li>-->
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="policy-faq.html">Policy & FAQ</a></li>
                                    <li class="active"><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
            <div id="user-info-opntop">
            </div>
            <!-- CART ICON ON MMENU -->
            <div id="shopping-cart-box-ontop">
                <i class="fa fa-user" data-toggle="modal" data-target="#myModal"></i>

                <div class="shopping-cart-box-ontop-content"></div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- Home slideder-->
<div id="home-slider">
    <div class="container-fluid" style="width: 100;">
        <div class="row">
            <div class="col-sm-12 header-top-right">
                <div class="homeslider">
                    <ul id="contenhomeslider">
                        <li><img alt="Funky roots" src="images/slide/slider1.jpg" title="Funky roots"/></li>
                        <li><img alt="Funky roots" src="images/slide/slider2.jpg" title="Funky roots"/></li>
                        <li><img alt="Funky roots" src="images/slide/slider3.jpg" title="Funky roots"/></li>
                        <li><img alt="Funky roots" src="images/slide/slider4.jpg" title="Funky roots"/></li>
                        <li><img alt="Funky roots" src="images/slide/slider5.jpg" title="Funky roots"/></li>
                        <li><img alt="Funky roots" src="images/slide/slider6.jpg" title="Funky roots"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Home slideder-->



<div class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-container" style="padding-top: 25px">
                    <p style="text-align: center; font-style: italic; color:coral">UberChef is a professional consultancy firm that was set up to address social and environmental issues for businesses located across South East Asia.</p>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/aboutus/veget.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><span class="fa fa-history"></span> HISTORY</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    UberChef was established on July 20, 2014 on the basis of the organic farm located on La Huong farm (Cam Le District, Danang City). In March 2015, Eco Shop officially open the first new store at 999 Le Van Hien Street, Ngu Hanh Son District, Danang City.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/aboutus/meat.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><span class="fa fa-eye"></span> VISSION</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Our goal is to become the business model that can be replicated at the <strong>local level</strong> to help maximize the added value of products grown and processed as <strong>organic</strong> and <strong>local farming method</strong>.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/aboutus/chicken.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><span class="fa fa-hand-o-up"></span> MISSION</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Our mission is to establish and operate the supply chain for <strong>organic products</strong> that produced in Vietnam. Besides, we are try to popularly bring the organic and local farming method and to gradually reduce to no use any chemicals that we can <strong>protect</strong> and develop people and environment.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/aboutus/vision.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"> <span class="fa fa-heart"></span> CORE VALUE</h4>
                            </div>
                            <div class="timeline-body">
                                    <ol style="list-style: circle">
                                        <li><strong>Honesty</strong> - with myself and in all relationships. This is a prerequisite for building trust.</li>
                                        <li><strong>Love</strong> - Myself, people and Nature.</li>
                                        <li><strong>Responsibility</strong> - to ourselves and society. We always making the commitment.</li>
                                        <li><strong>Saving</strong> - Consumer moderation, moderation and avoiding all wasteful activities.</li>
                                    </ol>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/aboutus/tomatoes.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><span class="fa fa-book"></span> BUSINESS PHILOSOPHY</h4>
                            </div>
                            <div class="timeline-body">
                                <p style="font-style: italic">“Human knowledge that deviates from the wisdom of God is useless. For God is nature, and nature is God. Serve God by restoring nature!” – Masanobu Fukuoka</p>
                                <p>To help businesses make Profit without damaging <strong>People</strong> and <strong>Planet</strong> by providing <strong>tailored-made</strong> solutions that are <strong>feasible, viable</strong> and ultimately <strong>sustainable</strong>in the long term.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- POPUP LOGIN-REGISTER -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">LOGIN/REGISTER</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">Register</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- LOGIN -->
                            <div class="tab-pane active" id="Login">
                                <form action="javascript:void()" name="dangnhap_from" class="form-horizontal"
                                      id="dangnhap_from" method="post">
                                    <div class="form-group">
                                        <label for="email_login" class="col-sm-3 control-label">Email</label>

                                        <div class="col-sm-9">
                                            <input type="email" class="input form-control" id="email_login"
                                                   placeholder="Email...."/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pass_login" class="col-sm-3 control-label">Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" class="input form-control" id="pass_login"
                                                   placeholder="Password...."/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-9">
                                            <button class="button" type="submit" id="button-confirm">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- REGISTER -->
                            <div class="tab-pane fade" id="Registration">
                                <form class="form-horizontal" name="dangkytk_form" action="#" method="post"
                                      enctype="multipart/form-data" id="dangkytk_form register">
                                    <div class="form-group">
                                        <label for="frm_name" class="col-sm-4 control-label">Full Name</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="input form-control" id="frm_name" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailtk" class="col-sm-4 control-label">Email</label>

                                        <div class="col-sm-8">
                                            <input type="email" class="input form-control" id="emailtk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="pass_tk" class="col-sm-4 control-label">Password</label>

                                        <div class="col-sm-8">
                                            <input type="password" class="input form-control" id="pass_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="repass_tk" class="col-sm-4 control-label">Re-password</label>

                                        <div class="col-sm-8">
                                            <input type="password" class="input form-control" id="repass_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ngaysinh_tk" class="col-sm-4 control-label">Birth day</label>

                                        <div class="col-sm-8">
                                            <input type="date" class="input form-control" id="ngaysinh_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender_tk" class="col-sm-4 control-label">Gender</label>

                                        <div class="col-sm-8">
                                            <select class="input form-control" name="gioitinh" id="gender_tk">
                                                <option value="" checked>I am...</option>
                                                <option value="1">Female</option>
                                                <option value="0">Male</option>
                                                <option value="0">Other</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="diachi" class="col-sm-4 control-label">Adress</label>

                                        <div class="col-sm-8">
                                            <input type="text" name="diachi" class="input form-control" id="diachi_dk"/>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="dienthoai" class="col-sm-4 control-label">Phone number</label>

                                        <div class="col-sm-8">
                                            <input type="text" name="dienthoai" class="input form-control" id="dienthoai_dk"/>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-8">
                                            <button class="button" type="submit">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="OR" class="hidden-xs">OR</div>
                    </div>

                    <!-- Facebook - Google account -->
                    <div class="col-md-5">
                        <div class="row text-center sign-with">
                            <div class="social-header">Login With</div>
                            <div class="unit social-column">
                                <div class="social-inner">
                                    <div><a href=""><img src="images/fb-login-button-big.png" alt="login-facebook"></a></div>
                                    <div><a href=""><img src="images/gg-login-button-big.png" alt="login-google"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--EN LOGIN REGISTER-->

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-4">
                <div id="address-box">
                    <a href="#"><img src="./images/logochef.png" class="LogoFood"/></a>
                

                    <div id="address-list">
                        <div class="tit-name">Address:</div>
                        <div class="tit-contain">88 Le Van Hien street, Ngu Hanh Son District, Danang city, Vietnam.</div>
                        <div class="tit-name">Phone:</div>
                        <div class="tit-contain">(+84) 511.3446.295</div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain">Fastfood@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="introduce-title">CUSTOMER CARE</div>
                        <ul id="introduce-support" class="introduce-list">
                            <li> Mon - Fri: 7am to 8pm </li>
                            <li>Sat & Sun: 7am to 6pm</li>
                            <li><a href="policy-faq.html">How to Buy</a></li>
                            <li><a href="policy-faq.html">How to Payment</a></li>
                            <li><a href="policy-faq.html">FAQ</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                    </div>
                
            
                    <div class="col-sm-6">
                        <div class="introduce-title">Policy</div>
                        <ul id="introduce-Account" class="introduce-list">
                            <li><a href="policy-faq.html">Security Policy</a></li>
                            <li><a href="policy-faq.html">Payment Policy</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>

                <div class="col-md-3">
                <div id="contact-box">
                    <div class="introduce-title">Subscribe to UberChef Shop newsletter</div>
                    <div class="input-group" id="mail-box">
                        <input type="text" placeholder="Your email address"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">OK</button>
                          </span>
                    </div><!-- /input-group -->
                    <div class="introduce-title">Follow Us</div>
                    <!--<div class="social-link">-->
                        <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#"><i class="fa fa-pinterest-p"></i></a>-->
                        <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a href="#"><i class="fa fa-youtube"></i></a>-->
                    <!--</div>-->
                    <div class="social-link">
                        <ul class="social-icons">
                            <li><a class="rss" data-original-title="rss" href="#"></a></li>
                            <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                            <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                            <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                            <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
                            <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
                            <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
                            <li><a class="skype" data-original-title="skype" href="#"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div><!-- /#introduce-box -->


        <div id="footer-menu-box">
            <p class="text-center">Copyrights &#169; 2019 UberChef Shop. All Rights Reserved.</p>
        </div><!-- /#footer-menu-box -->
    </div>
</footer>

<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
<!-- Script-->

<script type="text/javascript" src="lib/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="lib/jquery-migrate.min.js"></script>
<script type="text/javascript" src="lib/fancyBox/source/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="lib/owl.carousel/owl.carousel.min.js"></script>



<script type="text/javascript" src="js/jquery.actual.min.js"></script>
<script type="text/javascript" src="js/theme-script.js"></script>
<script type="text/javascript" src="js/shoppingCart.js"></script>

<script type="text/javascript" src="js/layout.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        Layout.init();
        Layout.initOWL();
        Layout.initTwitter();
        Layout.initImageZoom();
        Layout.initTouchspin();
        Layout.initUniform();
        Layout.initSliderRange();
    });
</script>
</body>

</html>