<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/jquery.bxslider/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="lib/owl.carousel/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="lib/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="lib/fancyBox/source/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/green.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="css/style_frm_dkdn.css"/>
    <link rel="stylesheet" href="css/switcher.css">
    <title>Eco Shop - News</title>
</head>
<body class="green">
<!-- HEADER -->
<div id="header" class="header">

    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 logo">
                <a href="home.html"><img src="./images/logochef.png" class="LogoChef"/></a>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-5 col-lg-4 header-search-box">
                <form class="form-inline">
                    <div class="form-group input-serach">
                        <input type="text" placeholder="Search ...">
                    </div>
                    <button type="submit" class="pull-right btn-search"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 group-button-header">
                <a title="Compare" href="#" class="btn-compare">Compare</a>
                <a title="My wishlist" href="#" class="btn-heart">Heart</a>

                <div class="btn-cart" id="cart-block">
                    <a title="SignIn" href="" data-toggle="modal" data-target="#myModal">Log In</a>


                </div>
            </div>
        </div>
    </div>
    <!-- END MANIN HEADER -->
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">

                <div id="main-menu" class="col-sm-12 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="home.html"><span class="fa fa-home"></span> Home</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown">Product</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <li class="link_container"><a href="product-drinks.html">Drinks</a></li>
                                                    <li class="link_container"><a href="product-breads.html">Breads</a></li>
                                                    <li class="link_container"><a href="product-fruits.html">Fruits</a></li>
                                                    <li class="link_container"><a href="product-meat.html">Meat</a></li>
                                                    <li class="link_container"><a href="product-chicken.html">Chicken</a></li>
                                                    <li class="link_container"><a href="product-seafood.html">SeaFood</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--<li><a href="#">Promotion</a></li>-->
                                    <li class="active"><a href="news.html">News</a></li>
                                    <li><a href="policy-faq.html">Policy & FAQ</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
            <div id="user-info-opntop">
            </div>
            <!-- CART ICON ON MMENU -->
            <div id="shopping-cart-box-ontop">
                <i class="fa fa-user" data-toggle="modal" data-target="#myModal"></i>

                <div class="shopping-cart-box-ontop-content"></div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->



<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span> CATEGORIES</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="#">Health</a>

                                    </li>
                                    <li><span></span><a href="#">Food</a></li>
                                    <li><span></span><a href="#">Science & Tech</a></li>
                                    <li><span></span><a href="#">Agricultural</a></li>
                                    <li><span></span><a href="#">Business</a></li>
                                    <li><span></span><a href="#">Life</a></li>
                                    <li><span></span><a href="#">Entertainment</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block video -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-video-camera"></span>  VIDEOS</p>

                    <div class="block_content">
                        <iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- ./block video  -->

                <!-- block image -->
                <div class="block left-module">
                   <p class="title_block"><span class="fa fa-camera"></span>  GALLERIES</p>
                    <div class="block_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/new_1_zoom.jpg"/></a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/new_1.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product"style="border-radius: 15%"
                                                        src="images/news/new_2_zoom.jpg"/></a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/new_2.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product"
                                                        src="images/news/new_3_zoom.jpg"/></a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/new_3.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/new_4_zoom.jpg"/></a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/new_4.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/new_6_zoom.jpg"/></a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/new_6.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/new_5_zoom.jpg"/></a>
                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="images/news/new_5.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./block image  -->
            </div>

            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title"><span class="fa fa-newspaper-o"></span> NEWS</span>
                </h2>
                <!-- ../page heading-->
                <ul class="blog-posts">
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/new_7_zoom.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="how-coconut-oil-may-rescue.html">How Coconut Oil May Rescue The Brain From Alzheimer’s Disease </a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Sayer Ji</a></span>
                                            <span class="date"><i class="fa fa-calendar"></i> March 4, 2019 AT 1:30 PM </span>
                                        </div>
                                        <div class="entry-excerpt">
                                            The internet loves a good “natural cure” recovery story.  For instance, when Dr. Mary Newport, MD, dramatically reverses her husband’s symptoms of Alzheimer’s disease after...
                                        </div>
                                        <div class="entry-more">
                                            <a href="Readmore_1.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/new_8_zoom.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="here-are-your-iron-sources.html">Vegan? Here Are Your Iron Sources</a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Melissa Breyer</a></span>
                                            <span class="date"><i class="fa fa-calendar"></i> March 3, 2019 AT 2:10 PM</span>
                                        </div>
                                        <div class="entry-excerpt">
                                            There is a lot to be said for following a vegan or vegetarian diet; an excess of iron generally isn’t one of them, particularly vegan...
                                        </div>
                                        <div class="entry-more">
                                            <a href="Readmore_2.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/new_9_zoom.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="relaxing-yoga-poses.html">7 Relaxing Yoga Poses for Adrenal Fatigue</a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Michael Kanter</a></span>
                                            <span class="date"><i class="fa fa-calendar"></i> March 2, 2019 AT 5:53 PM</span>
                                        </div>
                                        <div class="entry-excerpt">
                                            A common question that I’m asked by my students is, “How can I become less stressed and have more energy, without diminishing my drive and ambition for success?”...
                                        </div>
                                        <div class="entry-more">
                                            <a href="Readmore_3.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="entry-thumb image-hover2">
                                        <a>
                                            <img src="images/news/new_10_zoom.jpg" alt="News">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="entry-ci">
                                        <h3 class="entry-title"><a href="chinese-herb-for-cough.html">Apricot Kernel: Chinese Herb for Cough and Source of a Controversial Vitamin</a></h3>

                                        <div class="entry-meta-data">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Conan Milner,</a></span>
                                            <span class="comment-count">
                                                <i class="fa fa-comment-o"></i> 33
                                            </span>
                                            <span class="date"><i class="fa fa-calendar"></i> March 1, 2019 AT 11:45 AM</span>
                                        </div>
                                        <div class="entry-excerpt">
                                            Crack open an apricot pit and you’ll find a seed that looks, smells, and tastes a lot like an almond. Apricot kernels are used to...
                                        </div>
                                        <div class="entry-more">
                                            <a href="Readmore_4.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">Next &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>

<!-- POPUP LOGIN-REGISTER -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">LOGIN/REGISTER</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">Register</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- LOGIN -->
                            <div class="tab-pane active" id="Login">
                                <form action="javascript:void()" name="dangnhap_from" class="form-horizontal"
                                      id="dangnhap_from" method="post">
                                    <div class="form-group">
                                        <label for="email_login" class="col-sm-3 control-label">Email</label>

                                        <div class="col-sm-9">
                                            <input type="email" class="input form-control" id="email_login"
                                                   placeholder="Email...."/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pass_login" class="col-sm-3 control-label">Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" class="input form-control" id="pass_login"
                                                   placeholder="Password...."/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-9">
                                            <button class="button" type="submit" id="button-confirm">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- REGISTER -->
                            <div class="tab-pane fade" id="Registration">
                                <form class="form-horizontal" name="dangkytk_form" action="#" method="post"
                                      enctype="multipart/form-data" id="dangkytk_form register">
                                    <div class="form-group">
                                        <label for="frm_name" class="col-sm-4 control-label">Full Name</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="input form-control" id="frm_name" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailtk" class="col-sm-4 control-label">Email</label>

                                        <div class="col-sm-8">
                                            <input type="email" class="input form-control" id="emailtk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="pass_tk" class="col-sm-4 control-label">Password</label>

                                        <div class="col-sm-8">
                                            <input type="password" class="input form-control" id="pass_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="repass_tk" class="col-sm-4 control-label">Re-password</label>

                                        <div class="col-sm-8">
                                            <input type="password" class="input form-control" id="repass_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ngaysinh_tk" class="col-sm-4 control-label">Birth day</label>

                                        <div class="col-sm-8">
                                            <input type="date" class="input form-control" id="ngaysinh_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender_tk" class="col-sm-4 control-label">Gender</label>

                                        <div class="col-sm-8">
                                            <select class="input form-control" name="gioitinh" id="gender_tk">
                                                <option value="" checked>I am...</option>
                                                <option value="1">Female</option>
                                                <option value="0">Male</option>
                                                <option value="0">Other</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="diachi" class="col-sm-4 control-label">Adress</label>

                                        <div class="col-sm-8">
                                            <input type="text" name="diachi" class="input form-control" id="diachi_dk"/>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="dienthoai" class="col-sm-4 control-label">Phone number</label>

                                        <div class="col-sm-8">
                                            <input type="text" name="dienthoai" class="input form-control" id="dienthoai_dk"/>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-8">
                                            <button class="button" type="submit">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="OR" class="hidden-xs">OR</div>
                    </div>

                    <!-- Facebook - Google account -->
                    <div class="col-md-5">
                        <div class="row text-center sign-with">
                            <div class="social-header">Login With</div>
                            <div class="unit social-column">
                                <div class="social-inner">
                                    <div><a href=""><img src="images/fb-login-button-big.png" alt="login-facebook"></a></div>
                                    <div><a href=""><img src="images/gg-login-button-big.png" alt="login-google"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--EN LOGIN REGISTER-->

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-4">
                <div id="address-box">
                    <a href="#"><img src="./images/logochef.png" class="LogoFood"/></a>
                

                    <div id="address-list">
                        <div class="tit-name">Address:</div>
                        <div class="tit-contain">88 Le Van Hien street, Ngu Hanh Son District, Danang city, Vietnam.</div>
                        <div class="tit-name">Phone:</div>
                        <div class="tit-contain">(+84) 511.3446.295</div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain">Fastfood@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="introduce-title">CUSTOMER CARE</div>
                        <ul id="introduce-support" class="introduce-list">
                            <li> Mon - Fri: 7am to 8pm </li>
                            <li>Sat & Sun: 7am to 6pm</li>
                            <li><a href="policy-faq.html">How to Buy</a></li>
                            <li><a href="policy-faq.html">How to Payment</a></li>
                            <li><a href="policy-faq.html">FAQ</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                    </div>
                
            
                    <div class="col-sm-6">
                        <div class="introduce-title">Policy</div>
                        <ul id="introduce-Account" class="introduce-list">
                            <li><a href="policy-faq.html">Security Policy</a></li>
                            <li><a href="policy-faq.html">Payment Policy</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>

                <div class="col-md-3">
                <div id="contact-box">
                    <div class="introduce-title">Subscribe to UberChef Shop newsletter</div>
                    <div class="input-group" id="mail-box">
                        <input type="text" placeholder="Your email address"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">OK</button>
                          </span>
                    </div><!-- /input-group -->
                    <div class="introduce-title">Follow Us</div>
                    <!--<div class="social-link">-->
                        <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#"><i class="fa fa-pinterest-p"></i></a>-->
                        <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a href="#"><i class="fa fa-youtube"></i></a>-->
                    <!--</div>-->
                    <div class="social-link">
                        <ul class="social-icons">
                            <li><a class="rss" data-original-title="rss" href="#"></a></li>
                            <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                            <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                            <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                            <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
                            <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
                            <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
                            <li><a class="skype" data-original-title="skype" href="#"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div><!-- /#introduce-box -->


        <div id="footer-menu-box">
            <p class="text-center">Copyrights &#169; 2019 UberChef Shop. All Rights Reserved.</p>
        </div><!-- /#footer-menu-box -->
    </div>
</footer>

<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
<!-- Script-->

<script type="text/javascript" src="lib/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="lib/jquery-migrate.min.js"></script>
<script type="text/javascript" src="lib/fancyBox/source/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="lib/owl.carousel/owl.carousel.min.js"></script>



<script type="text/javascript" src="js/jquery.actual.min.js"></script>
<script type="text/javascript" src="js/theme-script.js"></script>
<script type="text/javascript" src="js/shoppingCart.js"></script>

<script type="text/javascript" src="js/layout.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        Layout.init();
        Layout.initOWL();
        Layout.initTwitter();
        Layout.initImageZoom();
        Layout.initTouchspin();
        Layout.initUniform();
        Layout.initSliderRange();
    });
</script>
</body>

</html>