<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/jquery.bxslider/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="lib/owl.carousel/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="lib/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="lib/fancyBox/source/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/green.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="css/style_frm_dkdn.css"/>
    <link rel="stylesheet" href="css/switcher.css">
    <link rel="stylesheet" href="css/hanh.css">
    <title>UberChef Shop - Vegetables</title>
</head>
<body class="green">
<!-- HEADER -->
<div id="header" class="header">

    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 logo">
                <a href="home.html"><img src="./images/logochef.png" class="LogoChef"/></a>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-5 col-lg-4 header-search-box">
                <form class="form-inline">
                    <div class="form-group input-serach">
                        <input type="text" id="searchInput" placeholder="Search ...">
                    </div>
                    <button type="submit" class="pull-right btn-search"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 group-button-header">
                <a title="Compare" href="#" class="btn-compare">Compare</a>
                <a title="My wishlist" href="#" class="btn-heart">Heart</a>

                <div class="btn-cart" id="cart-block">
                    <a title="SignIn" href="" data-toggle="modal" data-target="#myModal">Log In</a>


                </div>
            </div>
        </div>
    </div>
    <!-- END MANIN HEADER -->
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">

                <div id="main-menu" class="col-sm-12 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="home.html"><span class="fa fa-home"></span> Home</a></li>
                                    <li class="dropdown active">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown">Product</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <li class="link_container"><a href="product-drinks.html">Drinks</a></li>
                                                    <li class="link_container"><a href="product-breads.html">Breads</a></li>
                                                    <li class="link_container"><a href="product-fruits.html">Fruits</a></li>
                                                    <li class="link_container"><a href="product-meat.html">Meat</a></li>
                                                    <li class="link_container"><a href="product-chicken.html">Chicken</a></li>
                                                    <li class="link_container"><a href="product-seafood.html">SeaFood</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--<li><a href="#">Promotion</a></li>-->
                                    <li><a href="/news">News</a></li>
                                    <li><a href="/policy-faq">Policy & FAQ</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
            <div id="user-info-opntop">
            </div>
            <!-- CART ICON ON MMENU -->
            <div id="shopping-cart-box-ontop">
                <i class="fa fa-user" data-toggle="modal" data-target="#myModal"></i>

                <div class="shopping-cart-box-ontop-content"></div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->


<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-pagelines"></span> PRODUCT</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="/product-drinks">Drinks</a>

                                    </li>
                                    <li><span></span><a href="/product-breads">Breads</a></li>
                                    <li><span></span><a href="/product-fruits">Fruits</a></li>
                                    <li><span></span><a href="/product-meat">Meat</a></li>
                                    <li><span></span><a href="/product-chicken">Chicken</a></li>
                                    <li><span></span><a href="/product-seafood">SeaFood</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block best sellers -->
                <!--<div class="block left-module">-->
                <!--<p class="title_block">VIDEO</p>-->

                <!--<div class="block_content">-->
                <!--<iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"-->
                <!--allowfullscreen=""></iframe>-->
                <!--</div>-->
                <!--</div>-->
                <!-- ./block best sellers  -->

                <!-- left silide -->
                <!--????????????????-->
                <!--./left silde-->
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title">Drinks</span>
                </h2>
                <!-- ../page heading-->
                <!-- Product -->
                <div id="product">
                    <!-- box product -->
                    <div class="category-featured Vegetables">
                        <div class="product-featured clearfix">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box-right">
                                        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                        <ul class="product-list">

                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d10.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d10_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Malabar Spinach"
                                                           data-price="20000" data-image="drinks/d10.jpg" data-product-code="MS109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Malabar Spinach</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 20,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d11.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d11_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Radish"
                                                           data-price="55000" data-image="drinks/d11.jpg" data-product-code="RD109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Radish</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 55,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d12.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d12_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Romaine"
                                                           data-price="85000" data-image="drinks/d12.jpg" data-product-code="RM109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Romaine</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 85,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d13.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d13_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="drinks/d13.jpg" data-product-code="MS109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Mustard Spinac</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 35,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d14.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d14_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Taro"
                                                           data-price="25000" data-image="drinks/d14.jpg" data-product-code="TR109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Taro</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 25,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d15.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d15_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Tomato"
                                                           data-price="55000" data-image="drinks/d15.jpg" data-product-code="TT109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Tomato</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 55,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d16.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d16_zoom.jpg class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Water Cress"
                                                           data-price="25000" data-image="drinks/d16.jpg" data-product-code="WC109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Water Cress</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 25,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d17.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d17_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Sweet Potatos"
                                                           data-price="22000" data-image="drinks/d17.jpg" data-product-code="SWP109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Sweet Potatos</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 22,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="images/product-detail/drinks/d18.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="images/product-detail/drinks/d18_zoom.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Green Pumpkin"
                                                           data-price="45000" data-image="drinks/18.jpg" data-product-code="PC109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Green Pumpkin</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 45,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./box product -->
                </div>
                <!-- Product -->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            <ul class="pagination">
                                <li><a href="product-drinks.html">1</a></li>
                                <li class="active"><a href="product-drinks-2.html">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">Next &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="show-product-item">
                        <select name="">
                            <option value="">Show 9</option>
                            <option value="">Show 18</option>
                            <option value="">Show 27</option>
                            <option value="">Show 36</option>
                        </select>
                    </div>
                    <div class="sort-product">
                        <select name="">
                            <option value="name">Product Name</option>
                            <option value="price">Price</option>
                        </select>

                        <div class="sort-product-icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>

<!-- POPUP LOGIN-REGISTER -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">LOGIN/REGISTER</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">Register</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- LOGIN -->
                            <div class="tab-pane active" id="Login">
                                <form action="javascript:void()" name="dangnhap_from" class="form-horizontal"
                                      id="dangnhap_from" method="post">
                                    <div class="form-group">
                                        <label for="email_login" class="col-sm-3 control-label">Email</label>

                                        <div class="col-sm-9">
                                            <input type="email" class="input form-control" id="email_login"
                                                   placeholder="Email...."/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pass_login" class="col-sm-3 control-label">Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" class="input form-control" id="pass_login"
                                                   placeholder="Password...."/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-9">
                                            <button class="button" type="submit" id="button-confirm">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- REGISTER -->
                            <div class="tab-pane fade" id="Registration">
                                <form class="form-horizontal" name="dangkytk_form" action="#" method="post"
                                      enctype="multipart/form-data" id="dangkytk_form register">
                                    <div class="form-group">
                                        <label for="frm_name" class="col-sm-4 control-label">Full Name</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="input form-control" id="frm_name" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailtk" class="col-sm-4 control-label">Email</label>

                                        <div class="col-sm-8">
                                            <input type="email" class="input form-control" id="emailtk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="pass_tk" class="col-sm-4 control-label">Password</label>

                                        <div class="col-sm-8">
                                            <input type="password" class="input form-control" id="pass_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="repass_tk" class="col-sm-4 control-label">Re-password</label>

                                        <div class="col-sm-8">
                                            <input type="password" class="input form-control" id="repass_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ngaysinh_tk" class="col-sm-4 control-label">Birth day</label>

                                        <div class="col-sm-8">
                                            <input type="date" class="input form-control" id="ngaysinh_tk" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender_tk" class="col-sm-4 control-label">Gender</label>

                                        <div class="col-sm-8">
                                            <select class="input form-control" name="gioitinh" id="gender_tk">
                                                <option value="" checked>I am...</option>
                                                <option value="1">Female</option>
                                                <option value="0">Male</option>
                                                <option value="0">Other</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="diachi" class="col-sm-4 control-label">Adress</label>

                                        <div class="col-sm-8">
                                            <input type="text" name="diachi" class="input form-control" id="diachi_dk"/>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="dienthoai" class="col-sm-4 control-label">Phone number</label>

                                        <div class="col-sm-8">
                                            <input type="text" name="dienthoai" class="input form-control" id="dienthoai_dk"/>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-8">
                                            <button class="button" type="submit">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="OR" class="hidden-xs">OR</div>
                    </div>

                    <!-- Facebook - Google account -->
                    <div class="col-md-5">
                        <div class="row text-center sign-with">
                            <div class="social-header">Login With</div>
                            <div class="unit social-column">
                                <div class="social-inner">
                                    <div><a href=""><img src="images/fb-login-button-big.png" alt="login-facebook"></a></div>
                                    <div><a href=""><img src="images/gg-login-button-big.png" alt="login-google"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--EN LOGIN REGISTER-->

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div class="demo_changer" id="demo_changer">
    <div class="demo-icon fa fa-shopping-cart">
        <span class="notify notify-left" id="count-cart">2</span>
    </div>
    <div class="form_holder">
        <div class="cart-block">
            <div class="cart-block-content">
                <div class="cart-block-list">
                    <div class="shop_cart">
                        <table class="shop_table">
                            <tbody id="show-cart">
                            <!--/////////////////////////////////-->

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="toal-cart">
                    <span>Total</span>
                    <span class="toal-price pull-right" id="total_price">54,000đ</span>
                </div>
                <div class="cart-buttons">
                    <a href="shoping-cart.html" class="btn-check-out">Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-4">
                <div id="address-box">
                    <a href="#"><img src="./images/logochef.png" class="LogoFood"/></a>
                

                    <div id="address-list">
                        <div class="tit-name">Address:</div>
                        <div class="tit-contain">88 Le Van Hien street, Ngu Hanh Son District, Danang city, Vietnam.</div>
                        <div class="tit-name">Phone:</div>
                        <div class="tit-contain">(+84) 511.3446.295</div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain">Fastfood@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="introduce-title">CUSTOMER CARE</div>
                        <ul id="introduce-support" class="introduce-list">
                            <li> Mon - Fri: 7am to 8pm </li>
                            <li>Sat & Sun: 7am to 6pm</li>
                            <li><a href="policy-faq.html">How to Buy</a></li>
                            <li><a href="policy-faq.html">How to Payment</a></li>
                            <li><a href="policy-faq.html">FAQ</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                    </div>
                
            
                    <div class="col-sm-6">
                        <div class="introduce-title">Policy</div>
                        <ul id="introduce-Account" class="introduce-list">
                            <li><a href="policy-faq.html">Security Policy</a></li>
                            <li><a href="policy-faq.html">Payment Policy</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                            <li><a href="policy-faq.html">Return & Change Policy</a></li>
                            <li><a href="policy-faq.html">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>

                <div class="col-md-3">
                <div id="contact-box">
                    <div class="introduce-title">Subscribe to UberChef Shop newsletter</div>
                    <form action="/sendmail" method="post" accept-charset="utf-8" class="input-group" id="mail-box">
                        <input type="text" name="email" placeholder="Your email address"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">OK</button>
                          </span>
                    </form><!-- /input-group -->
                    <div class="introduce-title">Follow Us</div>
                    <!--<div class="social-link">-->
                        <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#"><i class="fa fa-pinterest-p"></i></a>-->
                        <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
                        <!--<a href="#"><i class="fa fa-youtube"></i></a>-->
                    <!--</div>-->
                    <div class="social-link">
                        <ul class="social-icons">
                            <li><a class="rss" data-original-title="rss" href="#"></a></li>
                            <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                            <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                            <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                            <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
                            <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
                            <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
                            <li><a class="skype" data-original-title="skype" href="#"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div><!-- /#introduce-box -->


        <div id="footer-menu-box">
            <p class="text-center">Copyrights &#169; 2019 UberChef Shop. All Rights Reserved.</p>
        </div><!-- /#footer-menu-box -->
    </div>
</footer>

<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
<!-- Script-->

<script type="text/javascript" src="lib/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="lib/jquery-migrate.min.js"></script>
<script type="text/javascript" src="lib/fancyBox/source/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="lib/owl.carousel/owl.carousel.min.js"></script>



<script type="text/javascript" src="js/jquery.actual.min.js"></script>
<script type="text/javascript" src="js/theme-script.js"></script>
<script type="text/javascript" src="js/shoppingCart.js"></script>

<script type="text/javascript" src="js/layout.js"></script>
<script src="/js/emailUser.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        Layout.init();
        Layout.initOWL();
        Layout.initTwitter();
        Layout.initImageZoom();
        Layout.initTouchspin();
        Layout.initUniform();
        Layout.initSliderRange();
    });
</script>
</body>

</html>